<section class="container">
    <app-jumbotron title="Categorias" bg="bg-transparent"></app-jumbotron>

    <app-message 
        [success]="messageSuccess" 
        [danger]="messageDanger">
    </app-message>

    <div class="text-right mb-2 d-flex justify-content-between mb-4">
        <a class="btn btn-info" [routerLink]="['/main']">Voltar</a>
        <a class="btn btn-success" [routerLink]="['add']">Cadastrar</a>
    </div>

    <form class="row">
        <div class="form-group col-md-6 offset-md-6 col-lg-4 offset-lg-8">
            <label for="categoryCoruse">Selecionar uma categoria para filtrar</label>
            <select class="form-control" id="categoryCoruse" name="categoryCoruse"
                (change)="filterCategory($event.target.value)">
                <option value="">Selecione uma categoria</option>
                <option [value]="categorie.name.trim().toLowerCase()" *ngFor="let categorie of categories">
                    {{categorie.name}}</option>
            </select>
        </div>
    </form>

    <div *ngIf="courses">
        <div class="alert alert-info col-md-12" *ngIf="!courses.length">
            <p>Não temos curso cadastrado com essa categoria</p>
        </div>

        <div class="row">
            <div class="mt-1 col-md-6 col-lg-4" *ngFor="let course of courses">
                <div class="card p-3 list-course-card">
                    <header class="d-flex justify-content-between">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p class="badge badge-info">{{ course.idCategory.name }}</p>
                    </header>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{course.description}}</p>
                        <div class="list-courses-icons">
                            <a class="text-info" title="Alterar" [routerLink]="['edit', course._id]">
                                <i class="fas fa-1x fa-edit"></i>
                            </a>
                            <a class="p-1 text-danger" title="Romover" (click)="delete(course._id)">
                                <i class="fas fa-1x fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!courses">
        <p class="alert alert-info col-md-12">Ainda não temos nenhuma categoria cadastrada <a [routerLink]="['add']">Faço o
                cadastrado</a> </p>
    </div>

    <nav aria-label="Page navigation example" *ngIf="courses.totalPages > 1">
        <ul class="pagination justify-content-center mt-2 mb-2">
            <li class="page-item" disabled="courses.prevPage">
                <a class="page-link text-dark" (click)="pagination(courses.prevPage)">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>
            <li class="page-item" *ngFor="let pages of pagesNumber">
                <a class="page-link text-dark" (click)="pagination(pages.page)">{{pages.page}}</a>
            </li>
            <li class="page-item" disabled="courses.nextPage">
                <a class="page-link text-dark" (click)="pagination(courses.nextPage)">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>