<section class="container">
        <app-jumbotron title="Alterar categoria" bg="bg-transparent"></app-jumbotron>
        
        <app-message
            [success]="messageSuccess"
            [danger]="messageDanger"
        >
        </app-message>
        
        <div class="text-right">
            <a class="btn btn-info mb-2" [routerLink]="[ '/main/categories']">voltar</a>
        </div>
    
        <form 
            [formGroup]="formEdit" 
            #form="ngForm" 
            (submit)="update($event)">
            <fieldset>
                <label for="name">Nome da categoria:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white">
                            <i class="fas fa-signature"></i>
                        </span>
                    </div>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        aria-describedby="name" 
                        formControlName="name" 
                        [value]="categorie?.name">
                </div>
                <small 
                    class="form-text alert alert-danger form-text mt-0"
                    *ngIf="formEdit.get('name').errors?.required && (form.submitted || formEdit.get('name').touched)">
                    Nome da categoria obrigatório
                </small>
            </fieldset>
    
            <fieldset>
                <button class="btn btn-primary" [disabled]="formEdit.invalid">Alterar</button>
            </fieldset>
        </form>

        <app-modal-confirm 
            [visible]="modal"
            [title]="modalTitle"
            [description]="modalDescription"
            (action)="confirm($event)"
            (close)="modal = $event">
        </app-modal-confirm>

        <app-modal-confirm 
            [visible]="modalInfo"
            [title]="modalTitle"
            (action)="confirmInfo($event)"
            info="true">
        </app-modal-confirm>
    </section>