<section class="bg-info text-center text-white home-absoulte">
    <div class="icon-centered p-2">
        <!-- <i class="fa-10x fas fa-globe"></i> -->
        <form [formGroup]="formLogin" #form="ngForm" (submit)="login($event)">
            <fieldset>
                <div class="form-group">
                    <input 
                        class="form-control" 
                        type="text" 
                        name="name" 
                        placeholder="Digite o seu nome"
                        formControlName="name">
                        
                        <small
                            class="form-text alert alert-danger form-text mt-0"
                            *ngIf="formLogin.get('name').errors?.required && (form.submitted || formLogin.get('name').touched)">
                            Login obrigatório
                        </small>
        
                        <small
                            class="form-text alert alert-danger form-text mt-0"
                            *ngIf="formLogin.get('name').errors?.minlength">
                            No mínino 2 caracteres
                        </small>
                </div>

            </fieldset>

            <fieldset>
                <button [disabled]="formLogin.invalid" class="btn btn-success btn-block">Entrar</button>
            </fieldset>
        </form>
    </div>
</section>