<section class="container">
    <app-card-main
        icon="fa-clipboard-list"
        title="Categorias"
        description="Vejam todas as categorias que já temos cadastrado em nosso sistema"
        link="categories"
        linkName="Ver categorias">
    </app-card-main>

    <app-card-main
        icon="fa-graduation-cap"
        title="Cursos"
        description="Vejam todos os cursos que já temos cadastrado em nosso sistema"
        link="courses"
        linkName="Ver cursos">
    </app-card-main>
</section>