<section class="container">
    <app-jumbotron title="Categorias" bg="bg-transparent"></app-jumbotron>

    <app-message
        [success]="messageSuccess"
        [danger]="messageDanger"
    >
    </app-message>
    
    <div class="text-right mb-2 d-flex justify-content-between">
        <a class="btn btn-info" [routerLink]="['/main']">Voltar</a>
        <a class="btn btn-success" [routerLink]="['add']">Cadastrar</a>
    </div>

    <div class="row" *ngIf="categories">
        <div class="mt-1 col-md-6 col-lg-4" *ngFor="let categorie of categories.docs">
            <div class="card p-3 list-course-card">
                <header class="d-flex justify-content-between">
                    <h5 class="card-title">{{categorie.name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="list-courses-icons">
                            <a class="text-info" title="Alterar" [routerLink]="['edit', categorie._id]">
                                <i class="fas fa-1x fa-edit"></i>
                            </a>
                            <a class="p-1 text-danger" title="Romover" (click)="remove(categorie._id)">
                                <i class="fas fa-1x fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>

    <div *ngIf="!categories">
        <p class="alert alert-info">Ainda não temos nenhuma categoria cadastrada <a>Façã o cadastrado</a> </p>
    </div>

    <nav aria-label="Page navigation example" *ngIf="categories.totalPages > 1">
        <ul class="pagination justify-content-center mt-2 mb-2">
            <li class="page-item" disabled="categories.prevPage">
                <a class="page-link text-dark" (click)="pagination(categories.prevPage)"><i
                        class="fas fa-arrow-left"></i></a>
            </li>
            <li class="page-item" *ngFor="let pages of pagesNumber">
                <a class="page-link text-dark" (click)="pagination(pages.page)">{{pages.page}}</a>
            </li>
            <li class="page-item" disabled="categories.nextPage">
                <a class="page-link text-dark" (click)="pagination(categories.nextPage)"><i
                        class="fas fa-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
</section>