.menu-info-user {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 280px;
    width: 100%;
    transition: all .5s ease-in-out;
    z-index: 1;
}

.menu-info-hide {
    right: -999px;
    transition: all .5s ease-in-out;
}